<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <span style="display: inline">Ejemplo de layout</span>
    <p>Aqui va un parrafo</p>
    <div class="escondido">Estoy escondido</div>
    <div class="bloque0"></div>
    <div class="bloque1">este es el bloque 1</div>
    <div class="bloque2">este es el bloque 2</div>
</body>
</html>